<header class="navbar-fixed-top navbar-inverse">
	<%= link_to "Home Page", root_path %>
	<nav>
	<ul class="nav navbar-nav navbar-right">
	    <li><%= link_to "Home",  root_path  %></li>
        <li><%= link_to "Users",  ""  %></li>
        <li><%= link_to "Profile",   "" %></li>
        <li><%= link_to "Help",   static_pages_help_path %></li>
     </ul>
     </nav>
</header>